<html lang="en">
  <head>
    {{>headerLinks}}
    <title>404 Error</title>
  </head>
  <body>
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto align-items-center">
          <div class="row">
            <!-- left side div -->
            {{!-- <div class="col-md-6 col-12 main_header_right align-items-center">

            </div> --}}
            <!-- right side div -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure class="error-img">
                <img
                  src="images/404.png"
                  alt=""
                  class="img-fluid"
                  title="Mohammad Jamal"
                />
              </figure>
              <p>Welcome to Weather Application</p>
              <h1>{{errorMsg}}</h1>
              <a href="/"><button>Go Back</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>